body {
    font-size: 200%;
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: #555;
    background-color: #F3F7FA;
}

h1, h2, h3, h4, h5, {
    color: #332;
}


#ref1, #ref2, #ref3, #ref4, #ref5 {
    font-size: 80%;
}

#center1, #center2, #center3, #center4, #center5 {
    text-align: center;
}


.step {
   /* border: 1px solid #CCF; */
   /* width: 1200px; */
   /* text-align: center; */
}


.step .active, .step.present {
  opacity: 1;
}

.step .past, .step. future {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

